h6{
    text-align: center;
}

u{
    color: red;
}

ul{
    color: navy;
}

pre{
    color: red;
    background-color: lightgreen;
    padding: 20px;
}

u,i,sub{
    font-size: large bold;
    color: brown;
    background-color: aquamarine;
}

b,i,span,sup{
    background-color: orchid;
}

p{
    color: green;
    background-color: cornflowerblue;
}