*{
    margin: 0;
}

h6,footer{
    text-align: center;
    font-size: large;
}

li{
    color: navy;
    margin-top: 10px;
}

ol>li{
    margin-top: 10px;
    margin-left: 25px;
}

li>u{
    color: green;
}