*{
    margin: 0 auto;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 10px;

}


div{
    margin-left: 800px;
}


h6{
    text-align: center;
}

pre>span,span{
    color: darkmagenta;
}

pre>u,u{
    color: red;
}