*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

h1,h2{
    margin: 10px 10px;
}

table{
    border: 1px solid;
    column-rule-color: black;
}

ol>li>a>button{
    width: 90%;
    text-align: justify;
    border: none;
    font-size: 25px;
    background-color: lightgoldenrodyellow;
}

ol>li>a>button:hover{
    background-color: lightgreen;
    color: brown;
}
h6,footer{
    text-align: center;
    font-size: large;
}
button{
    font-size: large;
}
