*{
    margin: 0;
}

h6,footer{
    text-align: center;
    font-size: large;
}

ul>li{
    color: navy;
}


button{
    font-size: large;
}

pre{
    background-color: lightgreen;
    color: red;
}

u{
    color: green;
}

ol>li>u{
    color:orange;
}