*{
    margin: 0;
}

h6,footer{
    text-align: center;
    font-size: large;
}

ul>li,u>u,li>p{
    color: navy;
}

u{
    color:red
}

ol>li,pre>u{
    color: green;
}

button{
    font-size: large;
}

pre{
    background-color: lightgreen;
    color: red;
}