*{
    margin: 0;
}

span{
    color: chocolate;
}

.concept{
    padding: 50px;
}

div>p{
    font-size:1.5em;
    font-weight: bold;
    color: navy;
}

div>p>u{
    color: red;
}

h6,footer{
    text-align: center;
    font-size: large;
}

ul>li{
    color: navy;
}

ul>li>ol>li{
    margin-left: 200px;
    margin-top: 10px;
    color: crimson;
}

ol>li{
    margin: 15px;
}

pre>span{
    color: purple;
}

li>u{
    color:green;
}

ul>li>ul>li{
    margin: 20px;
}

li>a>button{
    background: pink;
    color: red;
    border: 5px orange;

}

button{
    font-size: large;
}

pre{
    background-color: lightgreen;
    color: red;
    font-weight: bold;
    margin: 20px;
}

