*{
    margin: 0;
}

h6,footer{
    text-align: center;
    font-size: large;
}

ul>li,ol>li{
    color: navy;
    margin-top: 10px;
}

button{
    font-size: large;
}

li>u,pre>u{
    color: green;
}


pre{
    background-color: lightgreen;
}

pre{
    color: red;
}

table{
    margin-left: 300px;
}

thead{
    color: green;
}
tbody{
    color: navy;
}

sub{
    background: skyblue;
    color: white;
}