h6{
    text-align: center;
}

ul{
    color: navy;
}

ol{
    color: brown;
    margin-left: 100px;
}

div.a1{
    padding: 50px 50px 50px 50px;
    border: 5px solid green;
    background-color: lightsalmon ;
}

div.a1>h2{
    color: red;
}

div.a2{
    margin: 50px;
    border: 5px solid red;
    background-color: lightgreen;
}
div.a2>h2{
    color: blueviolet;
}

div.a3{
    margin: 200px;
    border: 5px solid blueviolet;
}
div.a3>h2{
    color: chartreuse;
}

div.a4{
    color: blue;
    padding-top: 200px;
    border: 5px solid aqua;
    background-color: lightgreen;
    text-align: center;
}


div.a5{
    padding-right: 200px;
    border: 5px solid aqua;
    background-color: lightgreen;
    text-align: center;
}
div.a5{
    color:blue;
}

div.a6{
    padding-bottom: 200px;
    border: 5px solid aqua;
    background-color: lightgreen;
    text-align: center;
}
div.a6{
    color:blue;
}

div.a7{
    color:blue;
    padding-left: 200px;
    border: 5px solid aqua;
    background-color: lightgreen;
    text-align: center;
}

div.a8
{
    padding: 200px;
    border: 5px solid yellow;
    background-color: blueviolet;
    text-align: center;

    margin: 50px;
}
