*{
    margin: 0;
}

h6,footer,button{
    text-align: center;
    font-size: large;
}

ul>li{
    color: navy;
}

table{
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
}

table>caption{
    color: red;
}

table>thead{
    color: black;
}

table>tbody{
    color: green;
}